body {
    background-image: url("../assets/entryBackground.png");
    background-size:cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    height: 100vh;
    margin: 0;
    
}
 .login-container {
  background-color: #f9f4ef;
    /* width: 100%; */
    max-width: 500px;
    /* min-height: 300px; */
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #6d5b49;
}

.login-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
}

.login-info {
  text-align: center;
  margin: 15px 0;
  font-size: 18px;
  font-weight: bold;
}

.login-button,
.register-button {
  display: block;
  width: 80%;
  padding: 12px;             
  margin: 10px auto;
  font-size: 18px;
  font-weight: bold;
  color: #6d5b49;
  background-color: #f9f4ef;
  border: 2px solid #6d5b49;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover,
.register-button:hover {
  background-color: #e0d3c1;
}

.login-button-container,
.register-button-container {
  width: 100%;
}




