.loginFormContainer{
    
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.loginForm{
    
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 400px;
    background-color: #f9f4ef;
    margin: 40px auto;
    gap: 15px;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
.emailLabel, .passwordLabel{
    font-size: larger;
    font-family: cursive;
    font-style: italic;
    margin: 5px;
}
#email1, #password1{
    font-size: larger;
    font-family: cursive;
    font-style: italic;
    margin: 5px;
}
.loginButton{
    padding: 12px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}
.loginButton:hover{
    background-color: #e7b97e;
}