.taskFormOverlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.taskForm{
    
    background-color: #f9f4ef;
    width: 100%;
    max-width: 500px;
    min-height: 300px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #6d5b49;
}
.taskNameLabel{
    padding: "10px 0";
}
#title{
    
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
}
.dueDateLabel{
    padding: "10px 0";
}
#dueDate{
    
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}
.descriptionLabel{
    padding: "10px 0";
}
#description{
    
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
}
#addTaskButton{
    
    display: block;
  width: 80%;
  padding: 12px;             
  margin: 10px auto;
  font-size: 18px;
  font-weight: bold;
  color: #6d5b49;
  background-color: #f9f4ef;
  border: 2px solid #6d5b49;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#addTaskButton:hover{
    background-color: #e0d3c1;}
#closeFormBtn{
    
    display: block;
  width: 80%;
  padding: 12px;             
  margin: 10px auto;
  font-size: 18px;
  font-weight: bold;
  color: #6d5b49;
  background-color: #f9f4ef;
  border: 2px solid #6d5b49;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#closeFormBtn:hover{
    background-color: #e0d3c1;
}



